/*===========================
		COMMON css
===========================*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html {
  scroll-behavior: smooth;
}



.form{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  background: #f1f5f9;
  width: 80%;
  left: 10%;
  position: relative;
}


a:hover {
  color: #365CF5;
}

.field-wrapper{
  left: 10%;
  position: relative;
}

.field-wrapper label {
  font-size: 14px;
  font-weight: 500;
  color: #1A2142;
  display: block;
  margin-bottom: 10px;
}
/*.field-wrapper select{
  max-width: 50rem;
}
.form-next-pre-wrapper{
  width: 24rem;
}*/

.form-next-pre-wrapper {
  width: 40%;
}

.form-next-pre-wrapper.next{
  float:right ;
}
.form-next-pre-wrapper.previous{
  float:left ;
}

.form-submit-wrapper{
  width: 40%;
  float: right;
}

.rounded-full {
  border-radius: 30px;
}

/* dark buttons */
.dark-btn {
  background: #1A2142;
  color: #fff;
}
.dark-btn:hover {
  color: #fff;
}

.dark-btn-outline {
  background: transparent;
  color: #1A2142;
  border-color: #1A2142;
}
.dark-btn-outline:hover {
  color: #fff;
  background: #1A2142;
}

.dark-btn-light {
  background: rgba(26, 33, 66, 0.12);
  color: #1A2142;
}
.dark-btn-light:hover {
  color: #1A2142;
}

.select-style-1 .select-position {
  position: relative;
}

.select-style-1 .select-position {
  position: relative;
}

.form-select-wrapper select{
  width: 100%;
  max-width: 83%;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 16px;
  padding-right: 38px;
  color: #5d657b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
}